*{
    margin: 0px;
    padding: 0px;
    
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;    
}
/* html{
    background-image: linear-gradient( 109.6deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1% );
} */

.head{
    text-align: center;
}
.fp{
    display: block;
    float: inline-end;
    margin-top: 5px;
}
.btn{
display: flex;
justify-content: space-evenly !important;
align-items: center;
margin-top: 30px;
margin-left: 39%;
}
.logo{
    margin-top: 40px;
    text-align: center;
}
.form-control{
    background-color:  aliceblue;
}
.root{
    /* background-image: linear-gradient( 109.6deg, rgba(156,252,248,1) 11.2%, rgba(110,123,251,1) 91.1% ); */
    margin: 0px;
    padding: 0px;
}
.label{
    margin-top: 10px;
}
.form_panel{
    background-color:white;
    padding: 65px 20px;
    margin-left: 33%;
    margin-right: 33%;
    justify-content: space-around !important;
    align-items: center;
    margin-top: 9%;
    border-radius: 8px;


}
